node_modules
dist
/dist
/node_modules
/.pnp
.pnp.js
/coverage
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*.local
*.tsbuildinfo
.vscode
yarn-error.log
.eslintcache
storybook-static
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
package-lock.json
node_modules_bak
/src/assets
.history
.idea
**/node_modules
